.home-container-login{
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
  margin:75px auto;
  overflow: hidden;
  width: 750px;
   height: 80vh;
}
.home-container-login header{
  background-size: cover;
  height: 100px;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: inline-block;
  
}
.home-container-login header img{
  width: 100px;  
  margin-left: 42px;
}
.home-container-login header h1{
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin: 10px 3px;	
}
.content-login{
  padding: 32px;
  background: #ffffff;
  
}
.content-login h1{
text-align: center;
margin-bottom: 15px;
}
.content-login input{
    margin-bottom: 15px;
    width: 380px;
    margin-left: 150px;
}
#button3{
  font: 400 18px Roboto, sans-serif;
  border-radius: 12px;
  color: #fff;
  width: 170px;
  height: 70px;
  font-size: 22px;
  cursor: pointer;
  background: green;
  margin-left: 100px;
  box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
}
#button4{
 font: 400 18px Roboto, sans-serif;
 border-radius: 12px;
 color: #fff;
 width: 170px;
 height: 70px;
 font-size: 22px;
 cursor: pointer;
 background: red;
 margin-right: 100px;
 box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
}
.content-login button:hover {
 border: 2px solid #2f3676;
 background: #f2f2f2;
 color: #000;
 
}