.home-container-home{
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
  margin: 130px auto;
  overflow: hidden;
  width: 750px;
}
.home-container-home header{
  background-size: cover;
  height: 100px;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: inline-block;
  
}
.home-container-home header img{
  width: 100px;  
  margin-left: 42px;
}
.home-container-home header h1{
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin: 10px 3px;
	
}
.content-home{
  padding: 32px;
  background: #ffffff;
}

.content-home img{
   width: 450px;
   margin-left: 120px;
}
.buttons{
  display: flex;
  justify-content: space-between;
  margin: 10px;	
}

#button1{
  font: 400 18px Roboto, sans-serif;
  border-radius: 12px;
  color: #fff;
  width: 170px;
  height: 70px;
  font-size: 20px;
  cursor: pointer;
  background: blue;
  margin-left: 100px;
  box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
}


#button2{
 font: 400 18px Roboto, sans-serif;
 border-radius: 12px;
 color: #fff;
 width: 170px;
 height: 70px;
 font-size: 20px;
 cursor: pointer;
 background: green;
 margin-right: 100px;
 box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
}
.content-home button:hover {
 border: 2px solid #2f3676;
 background: #f2f2f2;
 color: #000;
 
}
